<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
   <test name="Contacts">
        <classes>
            <class name="ru.stqa.pft.sandbox.EquataionTests"/>
            <class name="ru.stqa.pft.sandbox.PointTests"/>
            <class name="ru.stqa.pft.sandbox.PrimeTests"/>
            <class name="ru.stqa.pft.sandbox.SquareTests"/>
        </classes>
    </test>
</suite>
